build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake


*.exe
*.out
*.app
*.dll
*.lib
*.exp


*.o
*.obj

*.sln
*.vcxproj*
*.vcproj*
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate
Debug/
Release/
x64/


*.tmp
*.cache
*.user
*.opensdf
*.sdf
*.VC.db

